.card-list  {
    padding:10px;
}

.card-list > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    list-style-type: none;
}

.no-products-found {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    margin-top: 100px;
}